.Home{
    padding: 40px;
}
.Menu{
    overflow: hidden;
    align-items: center;
    padding-top: 40px;
    margin-top: 60px;
    background-color: rgb(245, 246, 247);
    min-height: 100vh;
   }

.Content{
    display: flex;
    flex-direction: row;
    text-align: center;
   transform: translateX(70px)
}
.Content img{
    height: 600px;
    width: 620px;
    transform: translateX(-30px);
}
.Con{
    font-family: 'Acme', sans-serif;
    margin:0 20px;
    width: 55%;
    transform: translateY(160px);
}
.Con p{
    font-size: 27px;
}
.Con h1{
    font-size: 55px;
    color: rgba(2, 9, 49, 0.938);
}
.Con button{
    font-size: 16px;
    border: 1px solid black;
    border-radius: 20px;
    width: 50%;
    font-weight: 200;
    background: transparent;
    transition: 1s;
    transform: translateY(30px);
    padding: 7px;
}
.Con button:hover{
    border: 1px solid brown;
    color: brown;
}
.Doc{
    height: 30vh;
    width: 60vw;
    padding: 30px;
    text-align: center;
    transform: translateX(270px);
}


